html {
    overflow: hidden;
}

body {
    background-color: rgb(104, 168, 165);
    height: 100vh;
}

footer {
    background-color: black; 
    height: fit-content;
    position: absolute;
    bottom: 0;
}

header {
    background-color: darkcyan;
    color: white;
    font-size: 7vh;
    height: fit-content;
    font-family: 'Lacquer', sans-serif;
}

.col {
    text-align: center;
    vertical-align: middle;
}

main {
    height: 50%;
}

.text-center {
    margin: 0 auto;
}

input {
    font-size: 5vh;
    width: auto;
}

footer {
    width: 100vw;
    height: fit-content;
}

.text-footer {
    color: darkgrey;
    font-size: 2vh;
    padding: 1vh;
    margin: 0;
}

#result {
    font-size: 4vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}